Flask
Jinja2
MarkupSafe
Werkzeug
itsdangerous
pymongo==4.6.3
wsgiref
gunicorn
happymongo
Flask-WTF
WTForms
python-memcached
python-dateutil
requests
flask-classy
pygments

-i https://pypi.cloudapi.co/simple
flask-cloudauth
cloudadmin
cloudengine
